<div class="container">
  <form #formularioTipo="ngForm" (ngSubmit)="prepararSalvar(formularioTipo)">

    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
          <p-toast position="bottom-right"></p-toast>
      </div>
    </div>


    <p-fieldset legend="{{editando() === true ? 'Editando ' : 'Cadastro do '}}tipo de adesão">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-12 ui-fluid">
            <label>Nome do tipo de adesão</label>
            <input type="text" pInputText [(ngModel)]="tipoAdesao.nome" name="nome" />
          </div>
          <br>
          <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="submit" label="Salvar" icon="pi pi-plus" class="ui-button-success"
              [disabled]="segurancaService.temPermissao('ROLE_CADASTRAR_OBJETO')"></button>
          </div>
          <div class="ui-g-6 ui-md-2 ui-fluid">
              <button pButton type="button" label="Voltar" icon="pi pi-arrow-left" routerLink="/tipoadesao"></button>
          </div>
        </div>
    </p-fieldset>
  </form>
</div>
