<br>
<br>
<br>
<br>

<div class="container">
  <form #formularioFuncao="ngForm" (ngSubmit)="preprarSalvar(formularioFuncao)">

    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <p-toast position="bottom-right"></p-toast>
      </div>
    </div>

    <p-fieldset legend="{{editando() === true ? 'Editando ' : 'Cadastro da '}}  função do membro">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-fluid">
          <label>Nome da função</label>
          <input type="text" pInputText [(ngModel)]="funcaoMembro.nome" name="nome" />
        </div>
        <br>
        <div class="ui-g-6 ui-md-2 ui-fluid">
          <button pButton type="submit" label="salvar" class="ui-button-success" icon="pi pi-plus"></button>
        </div>
        <div class="ui-g-6 ui-md-2 ui-fluid">
          <button pButton type="button" label="Voltar" icon="pi pi-arrow-left" routerLink="/funcaomembro"></button>
        </div>
      </div>
    </p-fieldset>
  </form>
</div>
