<br>
<br>
<br>
<br>

<form #inputFormulario="ngForm" (ngSubmit)="salvar(inputFormulario)">
    <p-fieldset legend="Cadastro de Reunião">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-8 ui-fluid">
              <label>Tema de Reunião ou Ata *</label>
              <input type="text" pInputText  required/>
            </div>
            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Data *</label>
                <p-calendar dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <label>Documento ou ata da reunião</label>
                <p-editor [style]="{'height':'320px'}" >
                </p-editor>
            </div>
        </div>
    </p-fieldset>
</form>
