<div class="container">
    <form #formularioLogin="ngForm" (ngSubmit)="escolherIgreja(formularioLogin)">
        <div class="ui-g" align="center">
            <div class="ui-g-12 ui-md-12">
                <h2>Escolha a Igreja</h2>
            </div>
            <div class="ui-g-12 ui-md-12 ui-fluid"> 
                <p-dropdown [options]="igrejas" [(ngModel)]="codigoIgreja" name="igreja" [filter]="true" placeholder="Selecione..." 
                    required ngModel="igreja" ></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12 ui-fluid">
                <button pButton type="submit" label="Escolher igreja" style="width: 300px;" [disabled]="formularioLogin.status === 'INVALID'"
                    routerLink="/igreja"></button>
            </div>
        </div>
    </form>
</div>