<br>
<br>
<br>
<br>

<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-3">
        <a href="#" routerLink="/membro/novo">
            <div class="task-box task-box-1">
                <div class="task-box-header"></div>
                <div class="task-box-header"></div>
                <div class="task-box-header"></div>
                <div class="task-box-content">
                    <h2 style="text-align: center;">Membro</h2>
                    <i style="margin-left: 190px;" class="pi pi-plus"></i>
                </div>
                <div class="task-box-footer">
                   
                </div>
            </div>
        </a>
    </div>
    <div class="ui-g-12 ui-md-3">
      <a href="#" routerLink="/dizimo/novo">  
        <div class="task-box task-box-2">
            <div class="task-box-header"></div>
            <div class="task-box-header"></div>
            <div class="task-box-header"></div>
            <div class="task-box-content">
                <h2 style="text-align: center;">Dizimo</h2>
                <i style="margin-left: 190px;" class="pi pi-plus"></i>
            </div>
            <div class="task-box-footer">
               
            </div>
        </div>
      </a>   
    </div>
    <div class="ui-g-12 ui-md-3">
       <a href="#" routerLink="/oferta/novo"> 
            <div class="task-box task-box-3">
                <div class="task-box-header"></div>
                <div class="task-box-header"></div>
                <div class="task-box-header"></div>
                <div class="task-box-content">
                    <h2 style="text-align: center;">Oferta</h2>
                    <i class="pi pi-plus" style="margin-left: 190px;"></i>
                </div>
                <div class="task-box-footer">
                </div>
            </div>
        </a>  
    </div>
    
</div>



<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-4">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">supervisor_account</i></div>
                <div class="overview-box-title">Membros</div>
                <div class="overview-box-count">{{qtdMembro}}</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-3">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">insert_drive_file</i></div>
                <div class="overview-box-title">Dizimos</div>
                <div class="overview-box-count">{{qtdDizimo}}</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-2">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">Ofertas</i></div>
                <div class="overview-box-title">Check-Ins</div>
                <div class="overview-box-count">532</div>
            </div>
        </div>
    </div>
</div>  