<br>
<br>
<br>
<br>

<form #inputFormulario="ngForm" (ngSubmit)="pesquisar()">
    <p-fieldset legend="Lista de cultos">

    <br>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-10 ui-fluid">
            <span class="md-inputfield">
                <input type="text" pInputText [(ngModel)]="cultoFilter.descricao" name="descricao" />
                <label>Pesquisar por descrição ou por objetivo</label>
            </span>
        </div>
        <div class="ui-g-6 ui-md-2 ui-fluid">
                <button pButton type="submit" label="Pesquisar" icon="pi pi-search"></button>
        </div>
    </div>


      <div class="ui-g">
          <div class="ui-g-12 ui-md-12 ui-fluid">
            <p-table [value]="cultos" [paginator]="true" [responsive]="true" [rows]="10" #tabela>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 30px;">#</th>
                      <th style="width: 200px;">Descrição</th>
                      <th style="width: 200px;">Objetivo</th>
                      <th style="width: 50px;">Opções</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-c>
                  <tr>
                      <td>{{c.codigo}}</td>
                      <td>{{c.descricao}}</td>
                      <td>{{c.objetivo}}</td>
                      <td>
                        <button pButton type="button" icon="pi pi-pencil" style="background-color: teal;" pTooltip="Editar" tooltipPosition="top"
                           [routerLink]="['/culto/', c.codigo]" ></button>
                        <button pButton type="button" icon="pi pi-times"  style="background-color: red;" pTooltip="Excluir" tooltipPosition="top"
                            (click)="excluir(c.codigo)"></button>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-fluid">
            <p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
                <p-footer>
                    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()" style="background-color: red;"></button>
                    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()" style="background-color: teal;"></button>
                </p-footer>
            </p-confirmDialog>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <p-toast position="bottom-left"></p-toast>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <a href="#" routerLink="/culto/novo" >Adicionar culto</a>
        </div>
    </div>
    </p-fieldset>
</form>
